.text-widget .heading {
	color: #5c9a1b;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
}

.primary-cta {
	background: #1d5b2d;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	padding: 10px 18px;
}

.primary-cta:hover {
	background: #103e1b;
}

.link-widget {
	border: 1px solid #d7d7d7;
	border-radius: 15px 0 15px 15px;
	background: #ccc;
	background: linear-gradient(#ffffff, #cccccc);
	clear: both;
	margin-top: 15px;
	box-sizing: border-box;
}

.link-widget .heading {
	margin: 0;
	background: #5c9a1b;
	color: #fff;
	border-radius: 15px 0 0 0;
	padding: 5px 10px;
}

.link-widget .link-list {
	list-style: none;
	width: 100px;
	float: left;
}

.link-widget .link-list li {
	margin-bottom: 5px;
}

.link-widget .link-list a {
	color: #aa005f;
	border-bottom: 1px dotted #aa005f;
	font-size: 16px;
	text-decoration: none;
}

.link-widget .link-list a:hover {
	border-bottom-style: solid;
}

/* ========================================================
    MEDIUM GLASS | Grid (24 column, 10px gutter)
=========================================================== */

@media (min-width: 768px) and (max-width: 979px) {

	.container {
		width: 724px;
	}

	.row .eleven.columns      { width: 320px; }
	.row .twelve.columns      { width: 350px; }

	.row .offset-by-one       { margin-left: 30px; }
}

/* ========================================================
    SMALL GLASS | Grid (24 column, 10px gutter)
=========================================================== */

@media only screen and (max-width: 767px) {

	.container {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}

	.column,
	.columns {
		margin-left: 0;
		margin-right: 0;
	}

	.row .columns {
		width: 100% !important;
	}

	.row .offset-by-one        { margin-left: 0; }
}

/* ========================================================
    SMALL and MEDIUM GLASS
=========================================================== */

@media only screen and (max-width: 979px) {

	.link-widget .link-list { float: none; }
}